h1 {
	text-align: center;
	font-family: 'Frank Ruhl Libre', serif;
}

details summary:hover {
	background-color: #989898;
	color: yellow;
	cursor: pointer;
}

#texteD {
	border-bottom: 1px black solid;
}

#texte {
	display:flex;
	border-top: 1px black solid;
	height: 40%;
}

#texte div {
	flex: auto;
	border-right: 1px black solid;
}

#texte div header {
	text-align: center;
	border-bottom: 1px black solid;
}

#commentaire {
	border-bottom: 1px black solid;
}

#commentaire summary {
	margin-right: 5px;
}

@font-face {
 font-family: "KoineGreek";
 src: url("https://greekcntr.org/downloads/KoineGreek.ttf") format("truetype");
 font-display: block;
}

body h1 span {
	font-family: "KoineGreek";
	font-size : 28px;
}

summary {
  outline: none;
}

summary:focus {
outline:0;
}

html {
  overflow-y: scroll;
}