:root {
	--hauteur-header : 1.1em;
}

h1 {
	text-align: center;
	font-family: 'Frank Ruhl Libre', serif;
}

details summary:hover {
	background-color: rgb(187, 187, 187);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

/*
.v {
	height: 100%;
}
*/

#texteD {
	border-bottom: 1px black solid;
}

#texte {
	border-top: 1px black solid;
	height: 80%;
}

#texte flex-item p {
	margin: 0px;
	padding: 3px;
	padding-left: 0px;
	padding-right: 0px;
	--a : calc(100% - var(--hauteur-header));
	--b : calc(var(--a) - 6px); /* j'ai enlever 3px en plus dans les 6 de manière un peu arbitraire*/
	height: var(--b);
	word-break: break-word;
	overflow: auto;
}

#texte flex-item:nth-child(1) p {
	padding-left: 3px;
}

#texte flex-item:nth-child(3) p {
	padding-right: 3px;
}

#lxx {
	font-family: "KoineGreek";
	font-size: 0.8em;
}

#texte flex-item header {
	height: var(--hauteur-header);
	text-align: center;
	border-bottom: 1px black solid;
}

#texte flex-resizer div {
	height: var(--hauteur-header);
	border-bottom: 1px black solid;
	z-index: 2;
}

#commentaire {
	border-bottom: 1px black solid;
}

#commentaire summary {
	margin-right: 5px;
}

@font-face {
 font-family: "KoineGreek";
 src: url("https://greekcntr.org/downloads/KoineGreek.ttf") format("truetype");
 font-display: block;
}

/*
@font-face {
 font-family: "Marcellus";
 src: url("https://github.com/kylak/Paque/blob/659efac6f19119bf7b2b3fca30f1c0ca82ec437a/font/MarcellusSC-Regular.ttf?raw=true") format("truetype");
 font-display: block;
}
*/

body h1 #grec {
	font-family: "KoineGreek";
	font-size : 28px;
}

body h1 #fr {
	/*font-family:  "Marcellus";*/
	font-size: 0.95em;
}

summary {
  outline: none;
}

summary:focus {
outline:0;
}

html {
  overflow-y: scroll;
}